@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService _authorizationService;

<h1 style="color:red;">Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2 style="color:green;">Authenticated!!!</h2>

    <table style="border-collapse:separate;">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in User.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@if((await _authorizationService.AuthorizeAsync(User, "Claim.Level")).Succeeded)
{
    <h1>The user has level claim</h1>
}